.login{
    position: fixed;
    width: 25%;
    height: 65%;
    top: 27.5%;
    left: 50%;
    margin: -5% 0 0 -14%;

    /*Make a small border with shadow... mess with color and size*/
    border: 10px black;
    border-radius: 5%;
    box-shadow: 4px 4px #ccc;
}

.form{
    text-align: center;
}

.butt{
    /*TODO: space out buttons and then work on text entry field*/
}