

.login{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    max-width: 600px;
    /* text-align: center; */
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    /* display: table-cell; */
}



