/*.tab is used to represent all the tab options and their styling*/
.tab{
    background-color: #FFFFFF;
    border: none;
    color: #878787;
    padding: 25px 25px;
    text-align: center;
    text-decoration: #000000;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    width: 120px;
    font-family: inherit;
}
.active{
    font-weight: bold;
    color: black;
}
.tab:hover{
    color: black;
    font-weight: bold;
}