.all{
    display: flex;
}

.img {
  /*Same dimensions as website we are modeling it after*/
  width: 188.333px;
  height: 140.833px;

  left: 0;
  align-content: flex-start;
}

.content{
    /*Have a flex display as well as center items*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Set no initial margin / padding*/
    margin: 0;
    padding: 0;

    /*Font family*/
    font-family: 'Roboto', sans-serif;

    /*Set width to 33% as to move it a little bit*/
    width: 33%;
}

.name{
    /*Set height to 0% to move the follow button closer*/    
    height: 0%;

    /*Use a nice gray color for the text*/
    color: #393939;

    /*Assign font family and size*/
    font-family: inherit;
    font-size: 1.6rem;            

    /*Add a bottom margin*/
    margin-bottom: 2.5rem;
}

.follow{
    font-family: inherit;
}
