.all{
    display: flex;
    flex-flow: column;
}
.img {
  /*Same dimensions as website we are modeling it after*/
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
}
.name{
    /*Set height to 0% to move the follow button closer*/    
    height: 0%;

    /*Use a nice gray color for the text*/
    color: #393939;

    /*Assign font family and size*/
    font-family: inherit;
    font-size: 1.6rem;            

    margin: 20px auto;
    font-size: 1rem;
    text-align: center;
}
.follow{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    color: green;
    font-family: inherit;
}

.follow:hover{
    background: #eee;
}

.addImage{
    width: 10px;
    height: 10px;
}
