.SideDrawer{
    left: 0;
    height: 800px;
    min-width: 150px;
    top: 0;
    margin-top: 20px;
    margin-right: 10px;
    color: black;
}
.productType{
    margin-bottom: 50px;
    font-size: 13px;
}
.color{
    margin-bottom: 50px;
    font-size: 13px;
}
.size{
    margin-bottom: 50px;
    font-size: 13px;
}
.price{
    margin-bottom: 50px;
    font-size: 13px;
}
.orientation{
    margin-bottom: 50px;
    font-size: 13px;
}
.artistCountry{
    margin-bottom: 50px;
    font-size: 13px;
}

.heading{
    color: #696969;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: solid 3px #eeeeee;
    margin-left: 10px;
    display: block;
    margin-bottom: 20px;
}
/*@media (max-width: 1000px){
    .SideDrawer{
        display: none;
    }
}*/