.table{
    width: 800px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    color: #696969;
}
.th{
    border-bottom: 2px solid #eeeeee;
    font-weight: normal;
    padding: 20px 0px;
    text-align: left;
}

.button{
    background-color: white;
    color: grey;
    font-weight: bold;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    float: right;
    margin: 130px 50px;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}
.button:hover{
    border-color: white;
    background-color: #4052B5;
    color: white;
    opacity: 1;
}
.cover{
    width: 80%;
    border: 0 2px 2px lightgrey;
    background-color:#4052B5;
    border-radius: 5px;
    height: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.coverHeading{
    color: white;
    font-weight: 600;
    font-family: "Josefin Sans";
    font-size: 25px;
    margin: 50px;
}
.root{
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
}
.tableWrapper{
    overflow: auto;
}