.box {
  margin: 10px auto;
  width: 800px;
  height: 350px;
  outline: none;
  border: 10px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 3px darkgrey;
  color: white;
  background-color: lightgrey;
}
.innerBox {
  margin: 10px auto;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 75px;
  height: 75px;
  margin: auto;
}
.img {
  /* margin: 50px; */
  vertical-align: middle;
  width: 40%;
  height: 40%;
  object-fit: cover;
}
.upload {
  margin-left: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  padding-left: 9px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}
@media (min-width: 1300px) {
  .img {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 600px) {
  .img {
    width: 85%;
    margin-left: 40px;
  }
  .upload {
    margin-left: 150px;
  }
}
.p1 {
  margin: auto;
}
.p2 {
  font-size: 9px;
}
.p3 {
  color: white;
  background-color: #828282;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  padding-left: 9px;
  width: 40%;
  /* margin-left: 140px; */
  cursor: pointer;
}

.uploadImage {
  /* width: 100%; */
  max-width: 400px;
  max-height: 300px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: 2em;
  margin: 0 auto;
}
