.home{
    display: flex;
    justify-content: space-between;
    margin: 40px;
} 
@media (max-width: 600px) {
    .home {
        margin: 0;
    }
}

.home > .sideBar{
    display: block;
}

.home > .sideBarContainer{
    display: none;
}

.bar{
    min-height: 100vh;
    display: inline-block;
    background-color: #D3D3D3;
    padding: 50vh 0vh;
}

.sideBarContainer{
    min-height: 100vh; 
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .home > .sideBar{
        display: none;
    }

    .home > .sideBarContainer{
        display: block;
    }

}

@media screen and (max-width: 1000px){
    .home > .toggled{
        display: block !important;
        background-color: #D3D3D3;
    }

}