.home{
    display: flex;
    justify-content: space-between;
    margin: 50px;
} 
@media (max-width: 800px) {
    .home {
        margin: 0;
    }
}

.bar{
}

@media screen and (max-width: 600px){
    .bar{
        display: none;
    }
}