.cardContainer {
  display: inline-block;

  -webkit-box-shadow: 5px 7px 40px 2px rgba(0, 0, 0, 0);

  -moz-box-shadow: 5px 7px 40px 2px rgba(0, 0, 0, 0);

  box-shadow: 5px 7px 40px 2px rgba(0, 0, 0, 0);

  -webkit-transition: all ease-in-out 500ms;

  -moz-transition: all ease-in-out 500ms;

  -o-transition: all ease-in-out 500ms;

  transition: all ease-in-out 500ms;

  margin-bottom: 5em;
}

.cardContainer:hover {
  -webkit-box-shadow: 9px 11px 20px 0px rgba(0, 0, 0, 0.19);

  -moz-box-shadow: 9px 11px 20px 0px rgba(0, 0, 0, 0.19);

  box-shadow: 9px 11px 20px 0px rgba(0, 0, 0, 0.19);

  transform: translate(0px, -3px);
}

.cardInfo {
  background: white;
  display: block;
  padding-left: 1em;

  padding-bottom: 0.25em;
}

.cardColors {
  font-size: 0;
  width: 100%;
  height: 12px;
  text-align: center;
}

.colorBox {
  height: 100%;
  width: 33.3%;
  display: inline-block;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.artist {
  font-weight: bold;
  color: #2b303a;
}

.title {
  color: #737373;
  font-style: italic;
}

.dimensions {
  font-style: normal;
}

/* body {
     margin: 50px;
   } */
