.colorPicker{
    margin-left: 5px;
}
.red{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: red;
    border-color: white;
    outline: none;
    border: 0;
}
.blue{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    border-color: white;
    outline: none;
    border: 0;
}
.orange{
    height: 20px;
    width: 20px;;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: orange;
    border-color: white;
    outline: none;
    border: 0;
}
.brown{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: brown;
    border-color: white;
    outline: none;
    border: 0;
}
.yellow{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: yellow;
    border-color: white;
    outline: none;
    border: 0;
}
.green{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: lightgreen;
    border-color: white;
    outline: none;
    border: 0;
}
.pink{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: lightpink;
    border-color: white;
    outline: none;
    border: 0;
}
.purple{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: purple;
    border-color: white;
    outline: none;
    border: 0;
}
.black{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-color: white;
    outline: none;
    border: 0;
}